[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
	ignore = dirty
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
	ignore = dirty
